*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(2, 34, 62);
    
}
.box-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}
.box1{
    height: 50%;
    width: 22%;
    background-color: #06b440;
    
  
   

}
.img-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    height: 100px;
    width: 100px;
    
  
   
}
.img-container img{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
}
.content{
    margin-top: 40%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.box1 button{
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #06b440;
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 4px 3px rgba(133, 241, 121, 0.5);

}
.img-container p{
    text-align: center;
    color: white;
}


.box2{
    height: 50%;
    width: 22%;
    background-color: #e83030;
  
    
  
   

}
.box2 button{
    margin-top: 20px;
    padding: 10px 25px;
   background-color: crimson;
   color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 4px 3px rgba(233, 74, 74, 0.5);
}
.content p{
    text-align: center;
}